# Git
.git
.gitignore
.github

# Environment & local secrets
.env
.env.*
!.env.example

# Dependencies & Build Outputs
node_modules
dist
build
tmp
bin
*.exe

# Testing & Reports
e2e
playwright-report
test-results
coverage

# Editor & OS files
.vscode
.idea
.DS_Store
Thumbs.db
*.log
